body{
    background-image: url('https://images.pexels.com/photos/2049422/pexels-photo-2049422.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#page-heading{
    margin-top:4vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

.change-color{
    /* Fallback: Set a background color. */
  background-color: #CA4246;
  
  /* Create the gradient. */
   background-image: linear-gradient(
        45deg,
        #CA4246 16.666%, 
        #E16541 16.666%, 
        #E16541 33.333%, 
        #F18F43 33.333%, 
        #F18F43 50%, 
        #8B9862 50%, 
        #8B9862 66.666%, 
        #476098 66.666%, 
        #476098 83.333%, 
        #A7489B 83.333%);
  
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  
  /* Animate the text when loading the element. */
    /* This animates it on page load and when hovering out. */
    animation: rainbow-text-simple-animation-rev 0.75s ease forwards;

    font-family: "Archivo Black", sans-serif;
    font-weight: normal;
    font-size: 2.0em;
    text-align: center;
    display: block;
    text-transform: uppercase;
}

.change-color:hover{
    animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}


/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-simple-animation-rev {
    0% {
        background-size: 650%;
    }
    40% {
        background-size: 650%;
    }
    100% {
        background-size: 100%;
    }
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-text-simple-animation {
    0% {
        background-size: 100%;
    }
    80% {
        background-size: 650%;
    }
    100% {
        background-size: 650%;
    }
}
  
#align-form{
    margin-left: 40px;
}

.set-dim{
    height: 30px;
    width: 18vw;
    border-radius: 4px;
    border: none;
}

#icon{
    margin-right: 35px;
    font-size: 2.5em
}

.address-book {
    cursor: pointer;
    background: pink;
      background: -webkit-radial-gradient(33% 100% circle, #515ECF 4%, #9B36B7 30%, #D92E7F 62%, #F15245 85%, #FED373);
      background: radial-gradient(circle at 33% 100%, #ff3be7 4%, #ff3be7 28%, #03ffe8 62%, #F15245 85%, #FED373);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }

  .address-book:hover {
    background: -webkit-radial-gradient(33% 100% circle, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
    background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

#un-list{
    display:flex;
    flex-direction: column;
    align-items: center;

}

.list-item{
    border-radius: 7px;
    list-style: none;
    width:50vw;
    color:white;
    background-color: rgb(9, 134, 131);
    padding: 5px 12px;
    margin-bottom:5px;
    font-size:22px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.gradient-text2 {
    /* Fallback: Set a background color. */
    background-color: #6c36d8;
    
    /* Create the gradient. */
    background-image: linear-gradient(
      45deg,
      #0a4234 50%,
      #f2cfed 50%
    );
    
    /* Set the background size and repeat properties. */
    background-size: 270%;
    background-repeat: repeat;
    background-position: top right;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    animation: button-animation 0.65s 0.15s ease-out forwards;
  }
  
  button:hover, button:hover span{
      animation: button-animation-rev 0.65s ease-out forwards;
  }
  
  button:hover {
    box-shadow: 3px 2px 10px 1px rgba(0,0,0,0.15);
    transition: 0.5s;
  }
  
  @keyframes button-animation {
    0% {
      background-position: top right;
    }
    100% {
      background-position: top left;
    }
  }
  
  @keyframes button-animation-rev {
    0% {
      background-position: top left;
    }
    100% {
      background-position: top right;
    }
  }
  

  
  button {

    background-image: linear-gradient(45deg, #f2cfed 50%, #0a4234 50%);
    background-size: 270%;
    background-repeat: repeat;
    background-position: top right;
    animation: button-animation 0.65s 0.15s ease-out forwards;
    border-radius: 0.5em;
    text-decoration: none;
    box-shadow: 7px 4px 20px 1px rgba(0,0,0,0.15);
    padding: 0.5em 0;
    cursor: pointer;
  }
  
  button span {
    font-family: "Archivo Black", sans-serif;
    font-weight: normal;
    font-size: 1em;
    text-align: center;
    margin-bottom: 0;
    margin-bottom: -0.25em;
    width: 100%;
    padding: 0 1em;
  }
  

.list-item:hover{
  color:black;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}

.styling-delete{
    color:rgb(229, 25, 25);
}

.styling-update{
  color:orange;
}
